---
layout: _layouts/base.njk
permalink: "pv-zuhause/index.html"
title: "ALAB Solar – Photovoltaik für Ihr Eigenheim"
description: "Eigene Solaranlage fürs Eigenheim: Planung & Montage vom Ingenieurbüro ALAB Energiesysteme. Jetzt Förder-Check & Solarplanrechner."
canonical: "https://lp.alabenergiesysteme.de/pv-zuhause/"
bodyClass: "private-page"
page:
  css_files:
    - "/pv-zuhause/_sections/01-hero/hero.css"
  js_files:
    - "/pv-zuhause/_sections/01-hero/hero.js"
---

{% block content %}
  
  {% include "./_sections/01-hero/hero.njk" %}


{% endblock %}
